Options +FollowSymLinks
IndexIgnore */*

<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php


    <IfModule mod_headers.c>
        Header set X-Content-Type-Options nosniff
    </IfModule>
</IfModule>

<IfModule mod_php5.c>
    php_flag display_errors Off
</IfModule>